<div class="person-data">
    <ul class=" ">
        <li>
            <div class="label">Почта</div>
            <div class="data">{{email}}</div>
        </li>
        <li>
            <div class="label">Логин</div>
            <div class="data">{{login}}</div>
        </li>
        <li>
            <div class="label">Имя</div>
            <div class="data">{{first_name}}</div>
        </li>
        <li>
            <dt class="label">Фамилия</dt>
            <div class="data">{{second_name}}</div>
        </li>
        <li>
            <div class="label">Имя в чате</div>
            <div class="data">{{display_name}}</div>
        </li>
        <li>
            <div class="label">Телефон</div>
            <div class="data">{{phone}}</div>
        </li>
    </ul>
    <ul class=" ">
        <li><a href="../../pages/profile/edit.html">Изменить данные</a></li>
        <li><a href="../../pages/profile/edit_password.html">Изменить пароль</a></li>
        <li><a class="logout" href="../../pages/auth/login.html">Выйти</a></li>
    </ul>
</div>
