<div class="user {{status}}">
    <div>
        <span class="img"><img src="{{img}}" /> </span>
    </div>
    <div class="content">
        <div class="title">
            <span class="name">{{name}} </span>
            <span class="date">{{date}}</span>
        </div> 
        <div class="message">
            <div class="text">{{text}} </div>
            <div class="badge">{{#if number_messages}}<span >{{number_messages}}</span>{{/if}}</div>
            </div>
        
    </div>
</div>